<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jigokuramenbandung"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>"
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jigokuramenbandung.SplashActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jigokuramenbandung.MenuActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.jigokuramenbandung.ListRamen"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.jigokuramenbandung.DetailRamen"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.jigokuramenbandung.ListMinuman"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.jigokuramenbandung.DetailMinuman"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.jigokuramenbandung.ListMakanan"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.jigokuramenbandung.DetailMakanan"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.jigokuramenbandung.ListPesanan"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.jigokuramenbandung.EditRamen"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>
